<div class="boardContainer">
  <!-- first row -->
  <div class="row">
    <div id="0" class="square bottom right clickable" (click)="userClick('zero', $event)">{{ boardValues.zero }}</div>
    <div id="1" class="square bottom right clickable" (click)="userClick('one', $event)">{{ boardValues.one }}</div>
    <div id="2" class="square bottom clickable" (click)="userClick('two', $event)">{{ boardValues.two }}</div>
  </div>

  <!-- second row -->
  <div class="row">
    <div id="3" class="square bottom right clickable" (click)="userClick('three', $event)">{{ boardValues.three }}</div>
    <div id="4" class="square bottom right clickable" (click)="userClick('four', $event)">{{ boardValues.four }}</div>
    <div id="5" class="square bottom clickable" (click)="userClick('five', $event)">{{ boardValues.five }}</div>
  </div>

  <!-- third row -->
  <div class="row">
    <div id="6" class="square right clickable" (click)="userClick('six', $event)">{{ boardValues.six }}</div>
    <div id="7" class="square right clickable" (click)="userClick('seven', $event)">{{ boardValues.seven }}</div>
    <div id="8" class="square clickable" (click)="userClick('eight', $event)">{{ boardValues.eight }}</div>
  </div>
</div>
<br><br>
<div class="row buttonRow">
  <div class="col-md-6">
    <button class="btn btn-info" (click)="onReset()">Play Again</button>
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary" routerLink="/startpage">Change Player</button>
  </div>
</div>